{
  "extends": [
    "@eslint-kit/patch",
    "@eslint-kit/base",
    "@eslint-kit/typescript",
    "@eslint-kit/node",
    "@eslint-kit/prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "sonarjs/cognitive-complexity": "off",
    "@typescript-eslint/no-unnecessary-condition": "off"
  }
}